<footer class="marketing-footer">
  <div class="footer-grid">
    <div class="brand-col">
      <div class="brand-row">
        <app-logo class="logo-icon"></app-logo>
        <strong>Image Optimizer</strong>
      </div>
      <p class="tagline">{{ t()['footer_tagline'] }}</p>
    </div>

    <div class="links-col">
      <h4>{{ t()['footer_links_title'] }}</h4>
      <ul>
        <li>
          <a [routerLink]="['/', lang(), 'about']">{{ t()['nav_about'] }}</a>
        </li>
        <li>
          <a [routerLink]="['/', lang(), 'changelog']">{{ t()['nav_changelog'] }}</a>
        </li>
        <li>
          <a [routerLink]="['/', lang(), 'blog']">{{ t()['nav_blog'] }}</a>
        </li>
        <li>
          <a
            href="https://github.com/ttquang1063750/angular-image-optimizer"
            target="_blank"
            rel="noopener"
            >{{ t()['footer_link_source'] }}</a
          >
        </li>
        <li>
          <button type="button" class="link-button" (click)="openSupport()">
            {{ t()['btn_support'] }}
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <small>{{ copyright() }}</small>
    <small class="credit">{{ t()['footer_credit'] }}</small>
  </div>
</footer>
